{% extends "base.html" %}

{% block body %}

<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-2">
        <a href="/calendar/{{month}}/{{year}}" class="btn btn-primary btn-md">Back to Calendar</a>
      </div>
      <div class="col-md-10">
        <h1>{{month}} {{day}}, {{year}}</h1>
        <hr>
      </div>
    </div>
    <div class="list-group">
      {% for i in range(2) %}
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Event {{i}}</h5>
              <small>Finish by 12pm</small>
            </div>
            <p class="mb-1">
              Description
            </p>
          </a>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
