{% extends "base.html" %}

{% block body %}

<div class="container">
  <div class="grid-container">
      {% for i in range(35) %}
      <div class="grid-item">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{i}}</h5>
              <small>♥</small>
            </div>
            <p class="mb-1">
              <ul>
                <li>Event 1</li>
                <li>Event 2</li>
              </ul>
            </small>
          </a>
        </div>
      </div>
      {% endfor %}
  </div>
</div>

{% endblock %}
